<div class="jumbotron text-center" >
 <h1>Animais que precisam de um lar</h1>
 
<% @posts.in_groups_of(3) do |group| %>
  
      <div class="row">
        <% group.compact.each do |post| %>
            <div class="col-md-4">

             <h4><%= link_to post.name, post %></h4>
            <%= image_tag post.picture_url, width: '100%' if post.picture.present? %>
        
      </div>
      
        <% end %>
    </div>
  
  <% end %>
</div>