<p id="notice"><%= notice %></p>

<div class="jumbotron text-center" >
<div class="row">
  <div class="col-md-9">
  
    <%= image_tag(@post.picture_url, width: '50%') if @post.picture.present? %>
    <h3>Comments</h3>
    <% @comments.each do |comment| %>
      <div>
        <strong><%= comment.user_name %></strong>
        <br>
        <p><%= comment.body %></p>
        
        <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        
      </div>
    <% end %>
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
    
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @post.name %></p>
    <p><b>Description: </b><%= @post.description %></p>
    <p><%= link_to 'Back', posts_path %></p>
  </div>
  </div>

